/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

#cover-image {
  background: url('images/chess-cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.container{
  background: url('images/chess-cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size:cover;
  background-clip: padding-box;
  -o-background-size: cover;
}

.card{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 700px;
 max-height: 500px;
 margin: auto;
 text-align: center;
 background-color:white;
}

.profile-image {
  width: 120px;
  margin: 0;
  /*float: left;*/
  
}

.profile-text {
  overflow:hidden;
  /*padding-top: 3px;
  padding-right: 200px ;
  padding-left:200px;*/
  margin: 0 auto;
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #000000;
  font-weight: 300;
}

.profile-bio {
  font-size: 1rem;
}

.profile-personalStatement {
  font-size: 1.5rem;
}

.profile-experienceLevel {
  font-size: 1.5rem;
}

.profile-statistics {
  color: #777777;
  font-weight: 300;
  display: block;
}

.profile-statistics-item {
  display: block;
  padding-right: 50px;
}

/*
 * Post
 */
.post-author {
  margin-bottom: 0px;

}

.post-author-fullname {
  font-weight: bold;
}

.post-author-user-details {
  margin-left: 10px;
  color: #777777;
}

/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.post-author a {
  text-decoration: none;
  color: black;
}
.post-author a:hover {
  text-decoration: underline;
  color: black;
}
