{% extends "base_content.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>List Of All Clubs</h1>

      <table class = "table">
        <thead>
          <tr>
            <th scope="col">NAME:</th>
            <th scope="col">LOCATION:</th>
            <th scope="col">DESCRIPTION:</th>
          </tr>
        </thead>
        <tbody>
      {% for club in clubs %}
      <tr>
        <td><a href="{% url 'show_club' club.id %}">{{ club.club_name }}</a></td>
        <td>{{ club.club_location }}</td>
        <td>{{ club.club_description }}</td>
        <td>
        <form action="{% url 'join_club' club.id %}" method="get">
          {% if user != club.owner %}
            {% if user in club.applicants.all %}
              <button class="btn card_btn"> Cancel </button>
            {% elif user in club.members.all %}
              <button class="btn card_btn"> Leave </button>
            {% elif user in club.officers.all %}
              <button class="btn card_btn"> Leave </button>
            {% else %}
              <button class="btn card_btn"> Join </button>
            {% endif %}
          {% endif %}
        </form>
      </td>
      </tr>
      {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}
