<h3>CLUB OWNER:</h3>
<div class="row content">
  <div class="col-12">
    <img src="{{ club.club_owner.mini_gravatar.gravatar }}" alt="{{ club.club_owner.mini_gravatar.username }}" class="rounded-circle profile-image" >
    <div class="profile-text">
      <p class="profile-title">{{ club.club_owner.full_name }}</p>
      <p> {{ club.club_owner.username }} </p>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col-12">
    <h5>OWNER'S BIO:</h5>
    <p class="profile-bio">{{ club.club_owner.bio }}</p>
  </div>
</div>
