<div class="row content">
    <div class="col-12">
      <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle profile-image" >
      <div class="profile-text">
        <h3>NAME:</h3>
        <p class="profile-title">{{ user.full_name }}</p>
        <h4>My bio:</h4>
        <p class="profile-bio">{{ user.bio }}</p>
      </div>
      <div class="row content">
        <div class="col-12">
        </div>
        <div class="col-3" align="center">
          {% if user.is_applicant %}
            <a href='{% url 'to_member' user.id %}' class="btn btn-lg btn-secondary">
              Approve
            </a>
          {% endif %}
        </div>
  </div>
    </div>
  </div>
